@charset "utf-8";

@font-face {
    font-family: 'monospace-font';
    src: url('./inconsolata/Inconsolata.otf') format('opentype');
}

$black: hsl(0, 0%, 4%);
$black-ter: hsl(0, 0%, 14%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$purple: hsl(271, 100%, 71%);

$panel-heading-background-color: $black-ter;
$modal-card-head-background-color: $black-ter;
$body-background-color: $black;
$scheme-main: $black;
$text: $white-ter;
$text-strong: $white-bis;

$table-row-active-background-color: $purple;


.f1-font {
    font-family: 'monospace-font';
    text-transform: uppercase;
    font-weight: bold;
}

@import "../node_modules/bulma/bulma.sass";